.Hide {
  display: none;
}

.SelectMode {
  padding: 16px;
  position: relative;
  overflow-y: scroll;
  h1 {
    text-align: center;
    margin-bottom: 9px;
    color: #728fbc;
    width: 100%;
    background-color: white;
  }
}

.SelectWidget {
  width: 100%;
  height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9bb0d0;
  border-radius: 10px;
  margin-bottom: 48px;
  button {
    width: 240px;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: #728fbc;
    font-size: 24px;
    color: white;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      width: 260px;
      background-color: #7b99c8;
    }
  }
  span {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.DownArrow {
  height: 24px;
}

.PlayButton {
  height: 18px;
}

.SelectMode::-webkit-scrollbar {
  display: none;
}

@media (max-width: 872px) {
  .SelectWidget {
    width: 100%;
    height: 162px;
    flex-direction: column;
    button {
      height: 81px;
      width: 100%;
      &:hover {
        width: 100%;
      }
    }
    span {
      margin: auto;
      width: 100%;
      text-align: center;
      padding: 16px;
    }
  }
}

@media (max-width: 472px) {
  .SelectWidget {
    span {
      font-size: 16px;
    }
    button {
      font-size: 18px;
      padding: 16px;
    }
  }
}
