$primary: #728fbc;

.Flashcard {
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 20px 40px 20px rgba(0, 0, 0, 0.025);
  transition: 0.2s ease;
}

.Leader {
  height: 10%;
  width: 100%;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  color: $primary;
}

.Content {
  position: relative;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #728fbc;
  font-size: 20px;
  height: 72%;
  overflow: hidden;
  span {
    position: absolute;
    top: 0;
    left: 16px;
    color: #98accb;
    font-size: 16px;
  }
  img {
    position: absolute;
    bottom: 0;
    right: 16px;
    width: 32px;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.Input {
  width: 100%;
  height: 18%;
  margin-top: 16px;
  position: relative;
  button {
    height: 100%;
    border: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    background-color: $primary;
    transition: 0.2s ease;
  }
  .Reveal {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 0;
    cursor: pointer;
    &:hover {
      background-color: #7b99c8;
    }
  }
  .Inconfident {
    width: 50%;
    position: absolute;
    left: 0;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #7b99c8;
    }
  }
  .Confident {
    width: 50%;
    position: absolute;
    right: 0;
    background-color: #98accb;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #9bb0d0;
    }
  }
}

.Hide {
  display: none;
}

.Swap {
  opacity: 0;
}

@media (max-width: 872px) {
  .Flashcard {
    width: 90%;
    height: 80%;
  }
  .Leader {
    font-size: 15px;
  }
  .Content {
    height: 66%;
    font-size: 15px;
    span {
      font-size: 14px;
    }
    img {
      width: 24px;
    }
  }
  .Input {
    height: 24%;
    button {
      font-size: 18px;
    }
    .Inconfident {
      width: 100%;
      height: 50%;
      top: 0;
      border-bottom-left-radius: 0;
    }
    .Confident {
      width: 100%;
      height: 50%;
      bottom: 0;
      border-bottom-left-radius: 10px;
    }
  }
}
