.Flashcard {
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 20px 40px 20px rgba(0, 0, 0, 0.025);
          box-shadow: 0px 20px 40px 20px rgba(0, 0, 0, 0.025);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.Leader {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  color: #728fbc;
}

.Content {
  position: relative;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #728fbc;
  font-size: 20px;
  height: 72%;
  overflow: hidden;
}

.Content span {
  position: absolute;
  top: 0;
  left: 16px;
  color: #98accb;
  font-size: 16px;
}

.Content img {
  position: absolute;
  bottom: 0;
  right: 16px;
  width: 32px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.Content img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.Input {
  width: 100%;
  height: 18%;
  margin-top: 16px;
  position: relative;
}

.Input button {
  height: 100%;
  border: none;
  color: white;
  font-size: 32px;
  font-weight: bold;
  background-color: #728fbc;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.Input .Reveal {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.Input .Reveal:hover {
  background-color: #7b99c8;
}

.Input .Inconfident {
  width: 50%;
  position: absolute;
  left: 0;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.Input .Inconfident:hover {
  background-color: #7b99c8;
}

.Input .Confident {
  width: 50%;
  position: absolute;
  right: 0;
  background-color: #98accb;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.Input .Confident:hover {
  background-color: #9bb0d0;
}

.Hide {
  display: none;
}

.Swap {
  opacity: 0;
}

@media (max-width: 872px) {
  .Flashcard {
    width: 90%;
    height: 80%;
  }
  .Leader {
    font-size: 15px;
  }
  .Content {
    height: 66%;
    font-size: 15px;
  }
  .Content span {
    font-size: 14px;
  }
  .Content img {
    width: 24px;
  }
  .Input {
    height: 24%;
  }
  .Input button {
    font-size: 18px;
  }
  .Input .Inconfident {
    width: 100%;
    height: 50%;
    top: 0;
    border-bottom-left-radius: 0;
  }
  .Input .Confident {
    width: 100%;
    height: 50%;
    bottom: 0;
    border-bottom-left-radius: 10px;
  }
}
/*# sourceMappingURL=Flashcard.css.map */